pkgconfig==1.1.0
pyyaml==6.0
pkgconfig
future-fstrings
tqdm
libusb1
hexdump
pycryptodome
nose
parameterized
requests
flake8
cffi
crcmod
pre-commit
pylint
cython
jinja2
psutil
pyzmq
screen-brightness-control